.flex-element{
	background-color: rgba(30,30,40,.9);
	border: 2px solid black;
	padding: 10px;
}

.flex-element:first-child{
	height: 750px;
}

.flex-element:nth-child(even){
	height: 400px;
}

.placeholder-text{
	font-family: verdana, arial;
}

.header-grid-container{
	background-color: rgba(255,255,255,.2);
	display:grid;
	padding: 5px;
	margin-bottom: 20px;
	gap: 10px;
	justify-content: space-between;
	grid-template-columns: 260px 250px;
}

.header-grid-container > div{
	padding: 10px 0px;
	text-align: center;
	font-size: 25px;
}

.header-inner-grid-container{
	display:grid;
	padding: 5px;
	gap: 5px;
}

.header-inner-grid-container:first-child{
	padding-left: 15px;
	justify-content: left;
	grid-template-columns: 70px 70px;
}

.header-inner-grid-container:last-child{
	justify-content: center;
	grid-template-columns: 70px 70px 70px;
}

.header-inner-grid-container > div{
	background-color: rgba(140,140,140,1);
	padding: 20px 0px;
	text-align: center;
	font-size: 25px;
	text-wrap: nowrap;
	font-family: arial, verdana;
}

.header-inner-grid-container > div:hover{
	background-color: rgba(245,225,250,1);
	color: rgba(0,0,0,1);
}

.tab-grid-container{
	display: grid;
	justify-content: space-between;
	grid-template-columns: 35% 20% 35%;
	gap: 10px;
}

.song-button-grid-container{
	background-color: rgba(255,255,255,.2);
	display:grid;
	justify-content: center;
	grid-template-columns: 70px 70px 70px;
	gap: 20px;
	font-family: arial, verdana;
	padding: 5px;
}

.song-button-grid-container > div{
	background-color: rgba(140,140,140,1);
	text-align: center;
	padding: 10px 0px;
	margin: 5px 0px;
	font-size: 25px;
}

.song-button-grid-container > div:hover{
	background-color: rgba(245,225,250,1);
}

body{
	background-color: rgba(10,10,10,1);
}

h1{
	color: rgba(250,250,250,1);
	text-align:center;
	font-family: verdana, arial;
}

tr{
	background-color: rgba(220,200,220,1);
	font-family: verdana, arial;
}

tr:hover{
	background-color: rgba(245,225,250,1);
}

th{
	background-color: inherit;
	text-align: left;
	padding: 5px 20px;
	text-wrap: nowrap;
	min-width: 50px;
}

td{
	background-color: inherit;
	text-align:right;
	padding: 5px 30px;
	text-wrap: nowrap;
	min-width: 50px;
	max-width: 200px;
}